@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	/* * Colors Primary */

	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);

	/* * Colors Neutral */

	/* * paragraphs */
	--transparent-white: #ffffffbf;
	/* * background, headings, buttons */
	--very-light-gray: #f2f2f2;

	/* Fonts */
	--font-family-big: 'Big Shoulders Display', sans-serif;
	--font-family-lexend: 'Lexend Deca', sans-serif;
}

body {
	font-size: 12px;
	font-weight: 400;
	font-family: var(--font-family-lexend);
}

h1 {
	font-family: var(--font-family-big);
	font-weight: 800;
	font-size: 40px;
}

p {
	letter-spacing: 1px;
 line-height: 24px;
}
